<div class="nested-fields">
	<%= f.label :phone_number_type %>
	<%= f.text_field :phone_type %>
	&nbsp;&nbsp;
	<%= f.label :phone_number %>
	<%= f.text_field :number %>
	<%= link_to_remove_association "Remove phone", f %>	
</div>	