<div class="nested-fields">
	<%= f.label :contact_address_type %>
	<%= f.text_field :address_type %>
	&nbsp;&nbsp;
	<%= f.label :contact_address %>
	<%= f.text_field :address %>
	<%= link_to_remove_association "Remove address", f %>	
</div>	