<% content_for :page_header do %>
  Manage Contacts
<% end %>

<%= link_to 'New contact', new_contact_path %>
<br>
<br>
<table style="width: 40%">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Delete', contact_path(contact),
              method: :delete,
              data: { confirm: "Are you sure you want to delete contact #{contact.name}?" } %></td>
    </tr>
  <% end %>
</table>